<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy UI</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/v4-shims.css">
</head>

<body>
    <header class="header">
        
        <div class="logo">
            <a href="/index.html">
                <h1>Easy <span>UI</span></h1>
            </a>
        </div>
        <div class="version">
            <h3>v 1.O</h3>
        </div>
        <div class="github">
            <a href=""><h3><i class="fab fa-github"></i></h3></a>
        </div>
    </header>
    <div class="container-body">
        
        <aside class="nav">

            <a class="component-nav" href="/components/alert/alert.html">Alert</a>
            <a class="component-nav" href="/components/avatar/avatar.html">Avatar</a>
            <a class="component-nav" href="/components/badge/badge.html">Badge</a>
            <a class="component-nav" href="/components/button/button.html">Button</a>
            <a class="component-nav" href="/components/card/card.html">Card</a>
            <a class="component-nav" href="/components/grid/grid.html">Grid</a>
            <a class="component-nav active" href="/components/image/image.html">Image</a>
            <a class="component-nav" href="/components/input/input.html">Input</a>
            <a class="component-nav" href="/components/list/list.html">List</a>
            <a class="component-nav" href="/components/modal/modal.html">Modal</a>
            <a class="component-nav" href="/components/navigation/navigation.html">Navigation</a>
            <a class="component-nav" href="/components/toast/toast.html">Toast</a>

        </aside>

        <main class="main">
            <!-- Image start -->
            <div class="component-main" id="Image">
                <h1>Image</h1>
                <h3>#responsive image</h3>
                <h3>small</h3>
                <img src="/assets/images/image/image2.jpg" alt="responsive-image-small" class="img img-s">
                <div class="code">
                    <pre><code>
                &ltimg src="/assets/images/image/image2.jpg" alt="" class="img img-s">
                    </code></pre>
                </div>
                <br>
                
                <br>
                <h3>medium</h3>
                <img src="/assets/images/image/image2.jpg" alt="responsive-image-medium" class="img img-m">
                <div class="code">
                    <pre><code>
                &ltimg src="/assets/images/image/image2.jpg" alt="" class="img img-m">
                    </code></pre>
                </div>
                <br>
                
                <br>
                <h3>large</h3>
                <img src="/assets/images/image/image2.jpg" alt="responsive-image-large" class="img img-l">
                <div class="code">
                    <pre><code>
                &ltimg src="/assets/images/image/image2.jpg" alt="" class="img img-l">
                    </code></pre>
                </div>
                <br>
                
                <br>
                <h3>extra large</h3>
                <img src="/assets/images/image/image2.jpg" alt="responsive-image-xlarge" class="img img-xl">
                <div class="code">
                    <pre><code>
                &ltimg src="/assets/images/image/image2.jpg" alt="" class="img img-xl">
                    </code></pre>
                </div>
                <br>
                <hr>
                <br>
                <h3>#circular image</h3>
                <h3>small</h3>
                <img src="/assets/images/image/image2.jpg" alt="circular-image-small" class="img img-s img-circular">
                <div class="code">
                    <pre><code>
                &ltimg src="/assets/images/image/image2.jpg" alt="" class="img img-s img-circular">
                    </code></pre>
                </div>
                <br>
                
                <br>
                <h3>medium</h3>
                <img src="/assets/images/image/image2.jpg" alt="circular-image-medium" class="img img-m img-circular">
                <div class="code">
                    <pre><code>
                &ltimg src="/assets/images/image/image2.jpg" alt="" class="img img-m img-circular">
                    </code></pre>
                </div>
                <br>
        
                <br>
                <h3>large</h3>
                <img src="/assets/images/image/image2.jpg" alt="circular-image-large" class="img img-l img-circular">
                <div class="code">
                    <pre><code>
                &ltimg src="/assets/images/image/image2.jpg" alt="" class="img img-l img-circular">
                    </code></pre>
                </div>
                <br>
                <br>
                <h3>extra large</h3>
                <img src="/assets/images/image/image2.jpg" alt="circular-image-xlarge" class="img img-xl img-circular">
                <div class="code">
                    <pre><code>
                &ltimg src="/assets/images/image/image2.jpg" alt="" class="img img-xl img-circular">
                    </code></pre>
                </div>
            </div>
            <!-- Image end -->
            
        </main>
        
    </div>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</body>

</html>