<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy UI</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/v4-shims.css">
</head>

<body>
    <header class="header">
        
        <div class="logo">
            <a href="#">
                <h1>Easy <span>UI</span></h1>
            </a>
        </div>
        <div class="guide">
            <a href="./index.html">
                <h3>Installation guide</h3>
            </a>
        </div>
        <div class="version">
            <h3>v 1.O</h3>
        </div>
        <div class="github">
            <a href=""><h3><i class="fab fa-github"></i></h3></a>
        </div>
    </header>
    <div class="container-body">
        
        <aside class="nav">
            
            <div class="component-nav">
                <a href="/components/alert/alert.html">Alert</a>
            </div>
            <div class="component-nav">
                <a href="/components/avatar/avatar.html">Avatar</a>
            </div>
            <div class="component-nav">
                <a href="/components/badge/badge.html">Badge</a>
            </div>
            <div class="component-nav">
                <a href="/components/button/button.html">Button</a>
            </div>
            <div class="component-nav">
                <a href="/components/card/card.html">Card</a>
            </div>
            <div class="component-nav">
                <a href="/components/image/image.html">Image</a>
            </div>
            <div class="component-nav">
                <a href="/components/input/input.html">Input</a>
            </div>
            <div class="component-nav">
                <a href="/components/list/list.html">List</a>
            </div>
            <div class="component-nav">
                <a href="/components/navigation/navigation.html">Navigation</a>
            </div>
            <div class="component-nav">
                <a href="/components/grid/grid.html">Grid</a>
            </div>
            <div class="component-nav">
                <a href="/components/toast/toast.html">Toast</a>
            </div>
            <div class="component-nav">
                <a href="/components/modal/modal.html">Modal</a>
            </div>
        </aside>
        <main class="main">
            <!-- Image start -->
            <div class="component-main" id="Image">
                <h1>Image</h1>
                <h3>#responsive image</h3>
                <h3>small</h3>
                <img src="/assets/images/image/image2.jpg" alt="responsive-image-small" class="img img-s">
                <div class="code">
                    <pre><code>
                &ltimg src="/assets/images/image/image2.jpg" alt="" class="img img-s">
                    </code></pre>
                </div>
                <br>
                
                <br>
                <h3>medium</h3>
                <img src="/assets/images/image/image2.jpg" alt="responsive-image-medium" class="img img-m">
                <div class="code">
                    <pre><code>
                &ltimg src="/assets/images/image/image2.jpg" alt="" class="img img-m">
                    </code></pre>
                </div>
                <br>
                
                <br>
                <h3>large</h3>
                <img src="/assets/images/image/image2.jpg" alt="responsive-image-large" class="img img-l">
                <div class="code">
                    <pre><code>
                &ltimg src="/assets/images/image/image2.jpg" alt="" class="img img-l">
                    </code></pre>
                </div>
                <br>
                
                <br>
                <h3>extra large</h3>
                <img src="/assets/images/image/image2.jpg" alt="responsive-image-xlarge" class="img img-xl">
                <div class="code">
                    <pre><code>
                &ltimg src="/assets/images/image/image2.jpg" alt="" class="img img-xl">
                    </code></pre>
                </div>
                <br>
                <hr>
                <br>
                <h3>#circular image</h3>
                <h3>small</h3>
                <img src="/assets/images/image/image2.jpg" alt="circular-image-small" class="img img-s img-circular">
                <div class="code">
                    <pre><code>
                &ltimg src="/assets/images/image/image2.jpg" alt="" class="img img-s img-circular">
                    </code></pre>
                </div>
                <br>
                
                <br>
                <h3>medium</h3>
                <img src="/assets/images/image/image2.jpg" alt="circular-image-medium" class="img img-m img-circular">
                <div class="code">
                    <pre><code>
                &ltimg src="/assets/images/image/image2.jpg" alt="" class="img img-m img-circular">
                    </code></pre>
                </div>
                <br>
        
                <br>
                <h3>large</h3>
                <img src="/assets/images/image/image2.jpg" alt="circular-image-large" class="img img-l img-circular">
                <div class="code">
                    <pre><code>
                &ltimg src="/assets/images/image/image2.jpg" alt="" class="img img-l img-circular">
                    </code></pre>
                </div>
                <br>
                <br>
                <h3>extra large</h3>
                <img src="/assets/images/image/image2.jpg" alt="circular-image-xlarge" class="img img-xl img-circular">
                <div class="code">
                    <pre><code>
                &ltimg src="/assets/images/image/image2.jpg" alt="" class="img img-xl img-circular">
                    </code></pre>
                </div>
                <footer class="footer t-c">
                    <h1> made with <span class="heart">❤</span> in India</h1>
                    <div>
                        <h2>developed by <a href="https://rajmishra.netlify.app/" target="blank"><span class="footer-plugins">Raj Mishra</span></a>
                        <a class="github" href="https://github.com/rajmishra7"><i class="fab fa-github "></i></a>
                        <a class="linkedIn" href="https://www.linkedin.com/in/raj-mishra-86615b15a/"><i class="fab fa-linkedin "></i></a>
                        <a class="twitter" href="https://twitter.com/RajMishra2519"><i class="fab fa-twitter-square "></i></a>
                        </h2>
                    </div>
                </footer>
            </div>
            <!-- Image end -->
            
        </main>
        
    </div>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</body>

</html>