<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy UI</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/v4-shims.css">
</head>

<body>
    <header class="header">
        
        <div class="logo">
            <a href="/index.html">
                <h1>Easy <span>UI</span></h1>
            </a>
        </div>
        <div class="version">
            <h3>v 1.O</h3>
        </div>
        <div class="github">
            <a href=""><h3><i class="fab fa-github"></i></h3></a>
        </div>
    </header>
    <div class="container-body">
        
        <aside class="nav">

            <a class="component-nav" href="/components/alert/alert.html">Alert</a>
            <a class="component-nav" href="/components/avatar/avatar.html">Avatar</a>
            <a class="component-nav" href="/components/badge/badge.html">Badge</a>
            <a class="component-nav" href="/components/button/button.html">Button</a>
            <a class="component-nav" href="/components/card/card.html">Card</a>
            <a class="component-nav active" href="/components/grid/grid.html">Grid</a>
            <a class="component-nav" href="/components/image/image.html">Image</a>
            <a class="component-nav" href="/components/input/input.html">Input</a>
            <a class="component-nav" href="/components/list/list.html">List</a>
            <a class="component-nav" href="/components/modal/modal.html">Modal</a>
            <a class="component-nav" href="/components/navigation/navigation.html">Navigation</a>
            <a class="component-nav" href="/components/toast/toast.html">Toast</a>

        </aside>
        
        <main class="main">
            <!-- Grid start -->
            <div class="component-main" id="Grid">
                <h1>Grid</h1>
                <h3>#simplified grid with 2 items</h3>
                <div class="grid-container grid-container-1">
                    <div class="grid-item">Grid Item 1</div>
                    <div class="grid-item">Grid Item 2</div>
                </div>
                <div class="code">
                    <pre><code>
    &ltdiv class="grid-container grid-container-1">
        &ltdiv class="grid-item">Grid Item 1&lt/div>
        &ltdiv class="grid-item">Grid Item 2&lt/div>
    &lt/div>
                    </code></pre>
                </div>
              
                <h3>#simplified grid with 3 items</h3>
                <div class="grid-container grid-container-2">
                    <div class="grid-item">Grid Item 1</div>
                    <div class="grid-item">Grid Item 2</div>
                    <div class="grid-item">Grid Item 3</div>
                </div>
                <div class="code">
                    <pre><code>
    &ltdiv class="grid-container grid-container-2">
        &ltdiv class="grid-item">Grid Item 1&lt/div>
        &ltdiv class="grid-item">Grid Item 2&lt/div>
        &ltdiv class="grid-item">Grid Item 3&lt/div>
    &lt/div>
                    </code></pre>
                </div>
                <!-- Grid end -->
                
            </div>
            
        </main>
        
    </div>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</body>

</html>