@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
}

* a{
    text-decoration: none;
}

.index{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    
}

.header{
    width: 100%;
    background-color: rgb(35, 39, 42);
    color: #f3f4f6;
    padding: 2rem 0rem;
    text-align: center;
    font-size: x-large;
}

.main{
    width: 100%;
    padding: 2rem 0rem;
    text-align: center;
    background-color: #f3f4f6;
    color: rgb(35, 39, 42);
}

.logo{
    color: rgb(41, 189, 181);
}

.btn{
    padding: 1rem 2rem;
    border-radius: 3px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    cursor: pointer;
}

.btn-primary{
    background-color: rgb(35, 39, 42);
    color: #f3f4f6;
}

.link{
    width: 70%;
    margin: auto;
    color: #f3f4f6;
    border-radius: 10px;
    background-color: rgb(35, 39, 42);
    padding: 1rem;
}

.footer{
    background-color: rgb(67, 74, 80);
    color: #f3f4f6;
    text-align: center;
    padding: 2rem;
}

.plugins{
    width: 40%;
    display: grid;
    margin: 0rem auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: #f3f4f6;

}

.main a{
    color: #f3f4f6;
}

.footer a{
    color: #f3f4f6;
}


