@import url('/components/colors.css');

.txt-input {
    padding: 0.5rem 0.75rem;
    margin: 1rem 1rem 1rem 0;
    width: 50%;
    border-radius: 5px;
    font-size: 1.2rem;
    border: 0;
}

.txt-input-1{
    width: auto;
}

.txt-input-2{
    background-color: var(--offwhite-three);
}

.txt-input:focus {
    outline: none;
    box-shadow: 3px 3px 0px 0px var(--info-color), -3px 3px 0px 0px var(--info-color),
      3px -3px 0px 0px var(--info-color), -3px -3px 0px 0px var(--info-color);
  }