<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy UI</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/v4-shims.css">
</head>

<body>
    <header class="header">
        
        <div class="logo">
            <a href="/index.html">
                <h1>Easy <span>UI</span></h1>
            </a>
        </div>
        <div class="version">
            <h3>v 1.O</h3>
        </div>
        <div class="github">
            <a href=""><h3><i class="fab fa-github"></i></h3></a>
        </div>
    </header>
    <div class="container-body">
        
        <aside class="nav">

            <a class="component-nav" href="/components/alert/alert.html">Alert</a>
            <a class="component-nav" href="/components/avatar/avatar.html">Avatar</a>
            <a class="component-nav" href="/components/badge/badge.html">Badge</a>
            <a class="component-nav" href="/components/button/button.html">Button</a>
            <a class="component-nav" href="/components/card/card.html">Card</a>
            <a class="component-nav" href="/components/grid/grid.html">Grid</a>
            <a class="component-nav" href="/components/image/image.html">Image</a>
            <a class="component-nav" href="/components/input/input.html">Input</a>
            <a class="component-nav" href="/components/list/list.html">List</a>
            <a class="component-nav" href="/components/modal/modal.html">Modal</a>
            <a class="component-nav" href="/components/navigation/navigation.html">Navigation</a>
            <a class="component-nav active" href="/components/toast/toast.html">Toast</a>

        </aside>

        <main class="main">
            
            <div class="component-main">
                <h1>Toast</h1>
                
                <div class="toast">
                    <p>Added to wishlist</p>
                </div>
                <div class="code">
                    <pre><code>
                        &ltdiv class="toast">
                            &ltp>Added to wishlist&lt/p>
                        &lt/div>
                    </code></pre>
                </div>
            </div>
        </main>
        
    </div>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</body>

</html>