@import url('/components/colors.css');

.badge-container{
    position: relative;
    width: 20%;
    display: inline-block;
}

.badge-container:hover{
    color: var(--primary-color);
}

.badge{
    color: var(--secondary-color);
    background-color: var(--danger-color);
    padding: 0.1rem 0.2rem;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
    position: absolute;
    top: 0px;
    left: 40px;
    
    
}

.badge-avatar{
    color: var(--secondary-color);
    background-color: var(--success-color2);
    padding: 0.4rem 0.4rem;
    border-radius: 50%;
    border: 4px solid var(--secondary-color);
    position: absolute;
    bottom: 10px;
    left: 60px;
}

.badge-ecom{
    border-radius: 0;
    padding: 0rem 1rem;
    border: 0;
}

.badge-ecom-new{
    background-color: var(--success-color2);
}


.badge-ecom-out{
    background-color: var(--danger-color);
}


.badge-ecom-trend{
    background-color: var(--primary-color);
}